<!-- Bootstrap Navbar -->
<nav class="navbar navbar-light bg-faded">
  <div class="container">
    <a class="navbar-brand" href="#">Mean Docker</a>
  </div>
</nav>

<div class="container">
  <h3>Add new person</h3>
  <form>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" #name>
    </div>
    <div class="form-group">
      <label for="contact">Person of Contact</label>
      <input type="text" class="form-control" id="contact" #contact>
    </div>
    <div class="form-group">
      <label for="telephone">Telephone Number</label>
      <input type="text" class="form-control" id="telephone" #telephone>
    </div>
    <div class="form-group">
      <label for="location">Location</label>
      <input type="text" class="form-control" id="location" #location>
    </div>
    <div class="form-group">
      <label for="employees">Number of Employees</label>
      <input type="number" class="form-control" id="employees" #employees>
    </div>
    <button type="button" (click)="addPerson(name.value, contact.value, telephone.value, location.value, employees.value)" class="btn btn-primary">Add Customer</button>
  </form>

  <h3>Customers</h3>
  <!-- Bootstrap Card -->
  <div class="card card-block col-sm-2 col-sm-offset-1" style="margin-bottom: 80px;" *ngFor="let customer of customers">
    <h4 class="card-title">{{customer.name}}</h4>
    <h4 class="card-title">{{customer.contact}}</h4>
    <h4 class="card-title">{{customer.telephone}}</h4>
    <h4 class="card-title">{{customer.location}}</h4>
    <h4 class="card-title">{{customer.num_of_employees}}</h4>
    <button type="button" (click)="deleteCustomer(customer._id)" class="btn btn-primary">Delete Customer</button>
  </div>

  <highcharts-chart
    [Highcharts]="Highcharts"
    [options]="chartOptions"
    style="width: 100%; height: 400px; display: block;">
  </highcharts-chart>
</div>
